<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/navbar::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{fragment/navbar::pagenavbar}">
</nav>
<section>
    <div class="card mt-2"  style="width: 28rem; position: relative; margin: auto;" th:object="${article}" >
        <img th:src="*{imageUrl}"  class="card-img-top" alt="...">
        <div class="card-body" >
            <div style="position: absolute; left: 22px; top:55%;">
                <img th:src="*{author.pfUrl}" class="bd-placeholder-img rounded-circle" style="position: absolute; top:60%;" width="60" height="60"  />
            </div>
            <h5 th:text="*{author.name}" class="card-title mt-4" >Card title</h5>
            <span th:text="*{author.username}" class="badge text-bg-info" >Info</span>
            <p class="card-text" th:text="*{description}" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div>
                <a th:href="@{/post/{postID}(postID=${article.id})}" class="btn btn-primary">View</a>
                <a th:href="@{/edit/{editID}(editID=${article.id})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/delete/{deleteID}(deleteID=${article.id})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragment/navbar::pagefooter}"  ></footer>
</body>
</html>